.-bgColor1 {
  background-color: var(--color1);
}

.-bgColor2 {
  background-color: var(--color2);
}

.-bgColor3 {
  background-color: var(--color3);
}

.-bgColor4 {
  background-color: var(--color4);
}

.-color1 {
  color: var(--color1);
}

.-color2 {
  color: var(--color2);
}

.-color3 {
  color: var(--color3);
}

.-color4 {
  color: var(--color4);
}

.-white {
  color: #fff;
}

.-black {
  color: #000;
}
