/* o-block_element--variation -modifier */
/* if a block, element, or modifier name has multiple words, use camelCase instead of hyphens. */

nav {
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}

footer {
}

header {
}

body {
}

#cards {
  background-color: var(--color2);
  display: flex;
  flex-flow: row wrap;
}

.card {
  background-color: var(--color4);
  width: 20rem;
  height: 20rem;
  border: solid 1px #fff;
  margin: 1rem;
  padding: 1rem;
}
